<div>
  <img src="<%= @picture.url %>">
  <p><%= @picture.title %></p>
  <% if @picture.favorite? %>
    <p>This is one of my favorites!</p>
  <% end %>
<p>
	<ul>
  <%  @picture.comments.each do |comment| %>
  <li> <%= comment.comment %></li>
  <% end %>
  </ul>
</p>




  <nav>
    <%= link_to "Delete", picture_url(@picture.id), :method => 'delete', :confirm => "Whoa dude. Are you sure?" %>
    <%= link_to "Edit", edit_picture_url(@picture.id) %>
  </nav>
</div>

<p>
	
<%= render "comments/form" %>	

</p>